body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }
  button {
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }

  .dirty {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .assigned {
    background-color: rgb(209, 208, 207);
    color: black;
  }
  
  .clean {
    background-color: rgb(98, 173, 98);
    color: white;
  }
  
  .completed {
    background-color: rgb(98, 173, 98);
    color: white;
  }
  
  .onhold {
    background-color: rgb(233, 188, 42);
    color: white;
  }
  
  .started {
    background-color: rgb(211, 56, 56);
    color: white;
  }
